/* 모바일영역 */
.sitemap_warp{margin-top:15px}
.sitemap_warp .sitemap_box{font-size:0;margin-bottom:-10px;overflow:hidden}
.sitemap_warp .sitemap_box .site_depth{display:inline-block;width:calc(50% - 2.5px);margin-bottom:10px;border-top:solid 1px #ccc;vertical-align:top}
.sitemap_warp .sitemap_box .site_depth:nth-child(odd){margin-right:5px}
.site_depth .menu_tt{height:45px;display:table-cell;width:100vw;text-align:center;vertical-align:middle;color:#333;font-weight:500;font-size:14px}
.site_depth .submenu_box{border-bottom:solid 1px #ccc;border-top:solid 1px #666;background:#f8f8f8;font-size:13px}
.site_depth .submenu_box>ul{position:relative;padding:11px 15px 8px 15px}
.site_depth .submenu_box>ul>li{position:relative;padding-left:17px;background:url('../images/eng/icon_sitemap_list_m_eng.png') no-repeat top 5px left 0 / 9px}
.site_depth .submenu_box>ul>li:not(:last-child):before{content:'';display:block;position:absolute;top:14px;left:4px;background:#ccc;width:1px;height:calc(100% + 5px)}
.site_depth .submenu_box>ul>li:hover{background:url('../images/eng/icon_sitemap_list_active_m_eng.png') no-repeat top 5px left 0 / 9px}
.site_depth .submenu_box>ul>li:hover>a{color:#333;font-weight:500}
.site_depth .submenu_box>ul>li:not(:last-child){margin-bottom:11px}
.site_depth .submenu_box>ul>li .depth02{margin-top:5px}
.site_depth .submenu_box>ul>li .depth02>li:hover>a{color:#1d87c2;font-weight:500}


/* pc영역 */
@media screen and (min-width:1217px){

    .sitemap_warp{margin-top:30px}
    .sitemap_warp .sitemap_box .site_depth{width:calc(100% / 5 - 8px)}
    .sitemap_warp .sitemap_box .site_depth:nth-child(odd){margin-right:0}
    .sitemap_warp .sitemap_box .site_depth:not(:last-child){margin:0 10px 0 0}
    .site_depth .menu_tt{height:76px;font-size:18px}
    .site_depth .submenu_box>ul{padding:26px 11px 26px 16px}
    .site_depth .submenu_box>ul>li:not(:last-child){margin-bottom:22px}
    .site_depth .submenu_box>ul>li:not(:last-child):before{top:20px;left:8px;height:calc(100% + 9px)}
    .site_depth .submenu_box>ul>li{padding-left:30px;background:url('../images/eng/icon_sitemap_list_eng.png') no-repeat top 4px left 0;font-size:16px}
    .site_depth .submenu_box>ul>li:hover{background:url('../images/eng/icon_sitemap_list_active_eng.png') no-repeat top 4px left 0}
    .site_depth .submenu_box>ul>li .depth02{margin-top:12px}
    .site_depth .submenu_box>ul>li .depth02>li>a{font-size:15px}

}
    